<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/classic"
        android:label="Nexus"
        android:theme="@style/NexusTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".MainActivity" android:exported="true" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ChatsActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".BotsActivity" />
        <activity android:name=".IconPickerActivity" />

        <activity-alias
            android:name=".MainActivityClassic"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/classic"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityNeon"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/neon"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityCrimson"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/crimson"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityLight"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/light"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityEmboss"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/emboss"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityLine"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/line"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityBubble"
            android:targetActivity=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/bubble"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>
</manifest>